.StudentPortal{
    display: flex;
    /* border: 2px solid red; */
    /* height: 100px; */
    width: 100%;
}

.StudentInfo{
    border: 2px solid black;
    width: 35%;
}

.Events{
    border: 2px solid blue;
    width: 100%;
}

.StudentList{
    /* border: 2px solid red; */
    width: 100%;
}