

.StudentHeading{
    padding: 0.1%;
    background-color: #2F8F9D;
}
.StudentHeading>p{
    color: #3C2C3E;
    font-weight: bolder;
    font-size: 30px;
}

.StudentPortal{
    display: flex;
    padding-top: 5%;
    /* border: 2px solid red; */
    /* height: 100px; */
    width: 100%;
    /* align-content: flex-start !important; */
}

.StudentInfo{
    border: 2px solid black;
    width: 35%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.Events{
    border: 2px solid blue;
    width: 100%;
}

.StudentList{
    /* border: 2px solid red; */
    width: 100%;
}

.AdminDiv{
    border: 2px solid red;
    padding-top: 5%;
    padding-bottom: 5%; 
}
.AdminDivButtons{
    /* border: 2px solid black; */
    padding-bottom: 1%;
}

.AdminDivButtons>button{
    padding: 1%;
    border-radius: 20px;
    border: none;
    background-color: #B3E8E5;
    color: #2F8F9D;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: 3%;
}

.registerEvent{
    /* border: 2px solid red; */
    padding-top: 4%;
    padding-bottom: 1%;
}

.registerEvent>button{
    padding: 1%;
    border-radius: 20px;
    border: none;
    background-color: #B3E8E5;
    color: #2F8F9D;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: 3%;
}